<h1>Lista de invitados</h1>
 
<table>
  <tr>
    <th>Nombre</th>
    <th>Regalo</th>
  </tr>
 
  <% @invitados.each do |inv| %>
    <tr>
      <td><%= inv.nombre %></td>
      <td><%= inv.regalo %></td>
      <td><%= link_to 'Ver', invitado_path(inv) %></td>
      <td><%= link_to 'Borrar', 
                        invitado_path(inv), 
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Volver', controller: 'welcome' %>