<h1>Registrar nuevo invitado</h1>
<%= form_for :invitado, url: invitados_path do |f| %>
  <p>
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </p>
 
  <p>
    <%= f.label :regalo %><br>
    <%= f.text_area :regalo %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %><br>
<%= link_to 'Volver', controller: 'welcome' %>